/* CSS */

/* Import Montserrat and Oswald font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Override default browser style settings with this * (wildcard asterisk) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General Styling for all */
body {
    font-family: "Montserrat", sans-serif;

    min-height: 100vh;
    /* Using min-height will allow it to stretch larger than the height of the screen when there is enough content on the page that the user needs to scroll.  */

    /* set the display to flex and the flex-direction to column, so our elements will still show underneath each other. */
    display: flex;
    flex-direction: column;

    /* For generic project styles */
    color: #3a3a3a;
}




/* Header Styling*/
header {
    background-color: rgb(156, 211, 211);
    padding: 0 1rem;
    /* padding left and right to prevent our heading text from sticking to the side of the screen. */
    position: fixed;
    /* This will make it revert to content width when made fixed, (fix this with width 100%)*/
    width: 100%;
    z-index: 99;
    /* use 99 to make sure it's layered on top of any other elements that might have a z-index later. */
    box-shadow: 0 2px 2px #3a3a3a;
    /* The first mandatory value of box-shadow is the horizontal offset. Negative values offset this to the left, positive ones to the right of the element.
    We don't need this since our header is full width anyway,
    so let's set that to zero.
    The next value is the vertical offset, which is also mandatory.
    A positive value will display the shadow below the element, a negative value above.
    We only want a small shadow at the bottom here, so let's set that to 2px.
    The third value will add here, sets the blur, which is essentially how
    soft or hard the shadow will look.
    Finally, we'll use a color value so we don't default to pure black.
    For this, we'll use the hex code of #3a3a3a,  */
}

header a {
    text-decoration: none; /* removing the line under the links. */
    color: inherit; /* take care of the default link color being applied by the browser. */
}

h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; /* so we can easily change the casing if the h1 logo */
    letter-spacing: 2px;  /* letter spacing of the h1 logo */
    color: #252525; /* set its color so that it stands out a little bit from the other links. */

}

/* increase menu item font-size, increase letter-spacng and remove the bullits on the side */
#menu {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
}

/* target the list items inside the menu It would look even better if they were a bit further spaced out vertically . Add 1em to bottom of ever li element*/
#menu > li {
            margin-bottom: 1em;
}

/* Main content styling */
main {
    background-color: rgb(211, 206, 155);
    flex: 1 0 auto;
    /* Make main element take up surplus space */
}

/* Footer Styling */
footer {
    background-color: rgb(164, 139, 188);
}