/* Import Montserrat and Oswald font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200;300;400;500;600;700&display=swap');



/* Override default browser style settings with this * (wildcard asterisk)  */
* {
    margin: 0;
    padding: 0;
}

/* General Styling for all */
body {
    font-family: "Montserrat", sans-serif;
}



/* Main Styling */
main {
    background-color: rgb(211, 206, 155);
}

/* Header Styling*/
header {
    background-color: rgb(156, 211, 211);
    display: flex; /* Add flex display to align items in a row */
    justify-content: space-between; /* Align items horizontally with space between */
    align-items: center; /* Center items vertically */
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation list Styling */
nav {
    display: flex; /* Add flex display to align navigation items in a row */
}

nav ul {
    list-style-type: none; /* Remove bullet points from list */
    display: flex; /* Align list items horizontally */
}

nav li {
    margin-right: 10px; /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    color: inherit;
}


/* Footer Styling */
footer {
    background-color: rgb(164, 139, 188);
}