/* CSS */
/* Import Montserrat and Oswald font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Override default browser style settings with this * (wildcard asterisk) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling for all */
body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    /* Using min-height will allow it to stretch larger than the height of the screen when there is enough content on the page that the user needs to scroll. */
    /* set the display to flex and the flex-direction to column, so our elements will still show underneath each other. */
    display: flex;
    flex-direction: column;
    /* For generic project styles */
    color: #3a3a3a;
}

/* Header Styling*/
header {
    background-color: orange;
    padding: 0 0rem;
    /* padding left and right to prevent our heading text from sticking to the side of the screen. */
    position: fixed;
    /* This will make it revert to content width when made fixed, (fix this with width 100%)*/
    width: 100%;
    z-index: 99;
    /* use 99 to make sure it's layered on top of any other elements that might have a z-index later. */
    box-shadow: 0 2px 2px #3a3a3a;
    /* The first mandatory value of box-shadow is the horizontal offset. Negative values offset this to the left, positive ones to the right of the element. We don't need this since our header is full width anyway, so let's set that to zero. The next value is the vertical offset, which is also mandatory. A positive value will display the shadow below the element, a negative value above. We only want a small shadow at the bottom here, so let's set that to 2px. The third value will add here, sets the blur, which is essentially how soft or hard the shadow will look. Finally, we'll use a color value so we don't default to pure black. For this, we'll use the hex code of #3a3a3a, */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    /* removing the line under the links. */
    color: inherit;
    /* take care of the default link color being applied by the browser. */
}

#logo {
    font-size: 190%;
    line-height: 60px;
    margin: 0 1rem;
}

.fa-utensils {
    font-size: 75%;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    /* so we can easily change the casing if the h1 logo */
    letter-spacing: 2px;
    /* letter spacing of the h1 logo */
    color: #252525;
    /* set its color so that it stands out a little bit from the other links. */
}

/* increase menu item font-size, increase letter-spacng and remove the bullits on the side */
#menu {
    font-size: 130%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Set this class on the resp. html page when they are up and running */
.active-menu {
    border-bottom: 1px solid;
    color: #252525;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    /* Absolute positioning takes an element outside the normal flow of the page structure. It is positioned relative to the nearest positioned ancestor in our case, the header. */
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 1em;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* set the display to none by default, so the nav bar items are hidden until the user clicks to open them. The nav bar is now hidden, */
    top: 100%;
    /* Effectively, this tells the navigation element that the top of the element should start at the bottom of its parent. 0% would represent the top of the parent, and 100% represents the bottom of it. */
}

/* Check boxes have a pseudo class that indicates when they are checked, which we can use in our css. When this is checked, we want the sibling nav element to display. */
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    s
}

.nav-toggle-label {
    /* we made a class for this in the html file so we can target this label and make it bigger */
    font-size: 2rem;
    margin-right: 2%;
}

/* target the list items inside the menu It would look even better if they were a bit further spaced out vertically . Add 1em to bottom of ever li element*/
#menu>li {
    margin-bottom: 1em;
}

/* Main content styling */
main {
    flex: 1 0 auto;
    /* Make main element take up surplus space */
    margin-top: 39px;
}

/* Welcome picture selector mbl view */
#welcome {
    height: 720px;
    width: 100%;
    background: url(../images/Welcome_\ food-5282718_1280.jpg) no-repeat center center/cover;
    /* background: url(../images/kitchen-5055083_1280.jpg) no-repeat center center/cover; */
    /* background: url(../images/desert-5994617_1280.jpg) no-repeat center center/cover; */
    position: relative;
}

#usp {
    background-color: rgba(242, 169, 23, .5);
    font-size: 110%;
    position: absolute;
    bottom: 40px;
    width: 60%;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    right: 0;
}

#usp>h2,
#usp>h3 {
    color: #3a3a3a;
}

/* Footer Styling */
#social-networks {
    text-align: center;
    /* This flips it down vertikal and spreads the icons out */
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style: none;
    background-color: orange;
}

/* This is targeted at the id an the i that is an element in font awesome link */
#social-networks i {
    font-size: 140%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    /* This moves the menu horisontally on same row */
    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 0px;
        margin: 0 1 rem;
        padding-top: 50px;
    }

    #usp {
        width: 300px;
        bottom: 60px;
        padding-left: 20px;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 105.8px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* a is the button to target with hover */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #usp {
        width: 450px;
        bottom: 80px;
    }

    /* Media query: tablets and larger (1440px and up) */
    @media screen and (min-width: 1440px) {

        /* a is the button to target with hover */
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        #usp {
            width: 600px;
            bottom: 80px;
            padding-left: 30px;
        }